/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : Oct 7, 2018, 11:42:31 AM
    Author     : NHUNG_COI

*/
.Logo{
    width: 100%;
    height: 80px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.2196078431372549);
    
}
.logo a:link{
    color:black;
    text-decoration: none;
}
#giua{

    height:79px;
    float:left;

}
.infor-top {
    padding-bottom: 3em;
    border-bottom: 1px solid #DEDEDE;
}
.infor-left {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    position: relative;
}
span.fb li{
    text-decoration: underline;
    text-decoration: none;
    width: 34px;
    height: 34px;
    display: inline-block;
    background-position: 0px 0px;
}
span.twit li{
    text-decoration: underline;
    text-decoration: none;
    width: 34px;
    height: 34px;
    display: inline-block;
    background-position: -34px 0px;
}
span.google li{
    text-decoration: underline;
    text-decoration: none;
    width: 34px;
    height: 34px;
    display: inline-block;
    background-position: -68px 0px;
}
.contact {
    padding: 15px 0px;
}
.contact-right {
    float: right;
    margin-top: 40px;
}
.contact-left {
    float: left;
    margin-top: 0px;
}
.contact-top heading {
    text-align: center;
}
h2 {
    margin-top: 1px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
}

.contact-left {
    min-height: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
.address {
    color: #777;
}
h5 {
    font-size: 24px;
    color: #5bc0de;
    margin-bottom: 1px;
}
p {
    font-size: 16px;
}
.contact-right {
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
}
.contact-right input[type="text"] {
    padding: 15px 10px;
    border: 1px solid #000;
    margin-right: 5px;
    width: 200px;
    
}
.contact-right textarea {
    border: 1px solid #000;
    height: 12.7em;
    margin-top: 30px;
    padding: 15px;
    width: 100%;
}
.submit-btn input[type="submit"] {
    border: 1px solid #000;
    margin: 40px 0 0 0px;
    padding: 9px 42px;
}
.breadcrumbs-main {
    border: 1px solid #D6D6D6;
    margin-top: 0px;
}
.breadcrumb {
    margin-top: 0;
    background: none;
    margin: 0;
    padding: 8px 15px;
    margin-bottom: 5px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.active {
    list-style: none;
    color: #777;
    display: inline-block;
}
.submit-btn {
    padding-top: 10px;
    font-size: 14px;
}
.submit-btn input[type="submit"] {
    background-color: white;
    height: 40px;
}
.submit-btn input[type="submit"]:hover {
    background-color: #afd9ee;
    cursor: pointer;  
}
.infor-top {
    padding-bottom: 3em;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 300px;
}
.infor-left {
    float: left;
}
 infor-left {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
h3 {
    margin-top: 100px;
}
div.map {
    padding: 50px;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}