
.top{
    width: 100%;
    height: 120px;
    background: black;
    padding: 0;
    margin: 0;
}
div.top {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
    z-index: 4;


}

.container{
    width: 1170px;
    margin: 0 auto;


}
.cha2{

    width: 100%;
    height: 60px;
    float: right;
}
.giohang{
    width: 50px;
    color: white;
    float: right;
    padding-top: 10px;
    text-align:center;
    padding-right: 50%;

}

.login{
    width: 50px;
    float:left;
    padding-right: 70px;
    padding-top: 13px;

}
.giohang p {
    margin-top: 6px;
    padding: 0;
}
.giohang a:link, .giohang a:visited{
    color: white;
    text-decoration: none;
}
.total_left{
    float:left;
    color: red;
}
.total_right{
    padding-right: 40px;
    float:right;
    font-size:0.85em;
    color:#92d3d0;
    font-weight:600;
}

.Logo{
    width: 100%;
    height: 80px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.2196078431372549);
    z-index: 4;
}
.logo a:link{
    color:black;
    text-decoration: none;
}
div.Logo {
    position: -webkit-sticky; 
    position: sticky;
    top: 35px;

}
#giua{

    height:79px;
    float:left;

}




.menu{
    width: 100%;
    height: auto;
    z-index: 4;

}
div.menu {
    position: -webkit-sticky; 
    position: sticky;
    top: 66px;

}
.banner{
    z-index: 6;
}
.about{
    z-index: 4;
}
.about{
    margin-top: 70px;
    width: 1170%;


}
.chualogo{
    margin: auto;

    width: 50%;
    height: 78px;
}
.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgb(4, 6, 13);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
}
.about{
    width:  100%;
    height: 300px;

}
.chua3thang{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-top: 58px;
    margin-left: 30px;
}
.about1,.about2,.about3{
    width: 30%;
    height: 250px;
    padding-right: 25px;

    float: left;
}
.panel img {
    -webkit-transform:scale(0.9); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.9); /*Mozilla scale version*/
    -o-transform:scale(0.9); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 1.5; /*initial opacity of images*/
    margin: 0 10px 5px 0; /*margin between images*/
}

.panel img:hover {
    -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
}
.panel{
    border: 1px solid #1ECBF4; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

ul li{
    list-style-type: none;
    color: black;
    padding-right: 25px;
    padding-top: 15px;

}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
}
.navbar-default .navbar-nav>li {
    font-size: 17px;
}
.navbar-default{
    background-color: red;
}

.anhPr{


    height: 230px; 
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    position:relative;


}
.anhPrnoidung{
    margin: 0 auto;
    margin-top: 10px;


    width: 90%;  
    text-align: center;
    padding-top: 0px;
}

.anhPr img{
    margin:auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}
.dichuyen :hover img{
    transform: scale(1.05);
}


.anhPrnoidung h4{
    color:black;
}


.khungchua{
    width: 95%;
    height: 95%;
    border:solid 1px gray;
    margin: 0 auto;
}

.dichuyen:hover  h4{
    color: rgb(115, 182, 225);

}.dichuyen:hover .khungchua{
    border:  solid 1px rgb(115, 182, 225);

}


.information{
    border-top: solid 1px gray;
    height: 350px;
}
.ketthuc{
    margin-top:50px;
    height: 300px;
}
.information h3,h4{
    text-align: center;
}
.information ul{
    padding-left: 70px;
    padding-top: 10px;
}
.information ul li{

    float: left;
    padding-right: 15%;

}
.information a{
    text-decoration: none;
}
.ano{
    width: 90%;
    height: 90%;
    margin: 0 auto;



}

.dacbiet{
    width: 34px;
    height: 34px;
    display: inline-block;
}
#facebook{
    background: url(images/s-icons.png);
    background-position: 0 0;
}
#tw{
    background: url(images/s-icons.png);
    background-position: -34px 0;
}
#gg{
    background: url(images/s-icons.png);
    background-position: -68px 0;
}
.llo{
    margin-top: -21px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

/*style_single*/
.single_top {
    margin: 3em 0;
}
.images_3_of_2 {
    width: 40%;
    float: left;
    margin-right: 2.6%;
}
li.size-in select {
    margin-left: 16%;
}
input[name='Add to Cart'] {
    border: 1px solid gray;
    width: 100px;
    height: 40px;
    background-color: red;
    color: #ffffff;
    float: right;
    margin-right: 550px;
    margin-top: 50px;
}	

.price_single{
    margin: 1em 0 2em;
}
.magnify {
    width: 200px;
    margin: 50px auto;
    position: relative;
}
img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container1 {
    position: relative;
    width: 640px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    margin: 30px 30px 0 0;
}

.active,
.demo:hover {
    opacity: 1;
} 
.mySlides-glass {
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 150px;
    height: 150px;
}

